img {
    width: 90px;
}

.border {
    border: 1.5px solid dimgray;
}

.border-right {
    border-right: 1.5px solid dimgray;
}

.navImageLogo1 {
    width: 20%;
    margin-left: 50%;
}

.navImageLogo2 {
    width: 20%;
    margin-left: 20%;
}

.centerText {
    text-align: center;
}

.borderB {
    border-bottom: .5px solid #dee2e6;
}

.borderR {
    border-right: .5px solid #dee2e6;
}

.borderL {
    border-left: .5px solid #dee2e6;
}

.overflow {
    overflow-wrap: anywhere;
}

.footerPadding {
    padding: 10px 15px;
}

.footerlogoWidth {
    width: 30%;
}

@media(min-width: 300px) and (max-width: 701px) {
    .navImage {
        display: none;
    }
} 